@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #bf0d3e;
}
h1 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  margin: 0;
  color: #555;
}
.overlay {
  height: 50vh;
  width: 100%;
  background-color: #0032a0;
}
.overlay + div {
  padding: 0 16px;
}
.overlay + div > div {
  max-width: 1140px;
  position: relative;
  top: -50px;
  background-color: #fed141;
  margin: 0 auto;
  border-radius: 4px;
  padding: 24px 48px;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 26px;
  }
  .overlay + div > div {
    padding: 12px 24px;
  }
}
